<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <queries>
        <!-- Phone calls -->
        <intent><action android:name="android.intent.action.DIAL"/></intent>
        <intent><action android:name="android.intent.action.CALL"/></intent>
        <!-- SMS -->
        <intent><action android:name="android.intent.action.SENDTO"/><data android:scheme="smsto"/></intent>
        <!-- Social apps -->
        <package android:name="com.whatsapp"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.google.android.youtube"/>
        <!-- Camera / Gallery -->
        <intent><action android:name="android.media.action.IMAGE_CAPTURE"/></intent>
        <!-- Maps -->
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="geo"/></intent>
        <!-- Music -->
        <intent><action android:name="android.intent.action.MUSIC_PLAYER"/></intent>
    </queries>

    <application
        android:label="Orth_pedeon"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
</manifest>
